* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #4e3999;
  --secondary: #de2345;
  --accent: #f5b551;
  --gray: #f1f5f9;
  --text-color: #3f3f3f;
  --serif: "PT Serif";
  --sans: Muli;
  --slab: "Roboto Slab";
}

a {
  text-decoration: none;
}

body {
  background-color: var(--gray);
  font-family: var(--sans), sans-serif;
  color: var(--text-color);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-image: url(../imgs/background.svg);
  background-repeat: no-repeat;
  background-position: left;
  -webkit-background-size: cover;
  background-size: cover;
}

.presentation, .services {
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.presentation {
  text-align: left;
  padding: 3rem 4rem;
}

.presentation__logo {
  width: 120px;
}

.presentation__title {
  font-family: var(--serif);
  color: #fff;
  font-size: 2.6rem;
  line-height: 3rem;
  margin-top: 50px;
}

.presentation__tagline {
  font-family: var(--slab);
  color: var(--accent);
  font-size: 1.2rem;
  font-weight: 300;
}

.presentation__value {
  font-size: 1.3rem;
  font-family: var(--sans);
  color: #fff;
  margin-top: 32px;
  margin-bottom: 70px;
  max-width: 400px;
}

.services__item {
  width: 50%;
  text-align: center;
}

.services__icon {
  max-width: 280px;
}

.services__title {
  display: block;
  margin-top: 16px;
}

.button {
  border: none;
  padding: 10px 16px;
  font-size: 20px;
  border-radius: 12px;
  transition: all .4s ease-out;
}
.button:hover {
  background-color: #f93156;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.3);
}

.button--primary {
  font-family: var(--slab);
  font-weight: normal;
  color: #fff;
  background-color: var(--secondary);
}